@page "/cadastro"
@using LearningBlazor.Models;
@using LearningBlazor.Services;
@inject VeiculoController veiculoController;
@inject NavigationManager navegacao;

<h3>PRIMEIRO REGISTRO DE MULTA DO VEÍCULO</h3>

<div class="container">
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">MODELO:</label>
        <input @bind="@veiculo.Modelo" type="text" class="form-control" disabled="@campoBloqueado">
    </div>

    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">MARCA:</label>
        <input @bind="@veiculo.Marca" type="text" class="form-control" disabled="@campoBloqueado">
    </div>

    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">PLACA:</label>
        <input @bind="@veiculo.Placa" type="text" class="form-control" disabled="@campoBloqueado">
    </div>
    <nav class="navbar navbar-light" style="background-color: white"></nav>

    <nav class="navbar navbar-light" style="background-color: darkgreen"></nav>

    <nav class="navbar navbar-light" style="background-color: white"></nav>
    @*###################################################################*@
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">DESCRIÇÃO:</label>
        <input @bind="@Descricao" type="text" class="form-control" disabled="@campoBloqueado">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">VALOR :</label>
        <input @bind="@ValorMulta" type="number" class="form-control" disabled="@campoBloqueado">
    </div>
    @if (enabledButton)
    {
        <button type="button" class="btn btn-primary" @onclick="AdicionarMulta">ADICIONAR</button>
        <button type="button" class="btn btn-warning" @onclick="Cancelar">CANCELAR</button>
        <button type="button" class="btn btn-success" @onclick="Salvar">SALVAR</button>
    }
    else
    {
        <div class="alert alert-success" role="alert">
            Salvo com Sucesso;
        </div>
        <button type="button" class="btn btn-primary">NOVO REGISTRO</button>
    }

    <nav class="navbar navbar-light" style="background-color: white"></nav>

    <nav class="navbar navbar-light" style="background-color: darkgreen"></nav>

    <nav class="navbar navbar-light" style="background-color: white"></nav>

    <table class="table">
        <thead>
            <tr>
                <th>Descrição:</th>
                <th>Valor:</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var multa in multas)
            {
                <tr>
                    <td>@multa.Descricao</td>
                    <td>R$ @FormatValue(@multa.ValorMulta.Value)</td>
                </tr>
            }
        </tbody>
    </table>
</div>

@code {
    public string Descricao { get; set; }
    public decimal ValorMulta { get; set; }
    private bool campoBloqueado = false;
    private bool enabledButton = true;
    private Veiculo veiculo = new Veiculo();
    private List<Multa> multas = new List<Multa>();

    public void AdicionarMulta()
    {
        Multa multa = new Multa();
        multa.Descricao = Descricao;
        multa.ValorMulta = ValorMulta;
        multas.Add(multa);

        Descricao = string.Empty;
        ValorMulta = 0;
    }

    public async Task Salvar()
    {
        veiculo.Multas = multas;
        await veiculoController.CreateVeiculo(veiculo);

        enabledButton = false;
        campoBloqueado = true;
    }

    public void Cancelar()
    {
        enabledButton = false;
        campoBloqueado = true;

        Descricao = string.Empty;
        ValorMulta = 0;
        veiculo = new Veiculo();
        multas = new List<Multa>();
    }

    public void NovoRegistro()
    {
        enabledButton = true;
        campoBloqueado = false;

        Descricao = string.Empty;
        ValorMulta = 0;
        veiculo = new Veiculo();
        multas = new List<Multa>();
    }

    private string FormatValue(decimal value)
    {
        return value.ToString("N2");
    }
}